@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
  background-color: #eee;
}

/* navbar styles */
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 100%;
  margin: 0 auto;
  background-color: #009879;
}
.navbar > img {
  background: transparent;
}
.navbar h1 {
  color: #eee;
  background: transparent;
  font-size: 2em;
}
.navbar .links {
  margin-left: auto;
  background: transparent;
  color: #009879;
}
.navbar a {
  text-decoration: none;
  font-size: 1.2em;
  padding: 6px;
  background-color: transparent;
  color: #eee;
}
.navbar a:hover {
  color: #f1356d;
}

/* Collection styles */
.collections {
  padding: 10px;
}

.repository-dropdown {
  text-align: center;
  margin: 10px 0px 20px 0px;
  font-size: 1.5em;
}

.repository-dropdown select {
  font-size: 0.8em;
}
.collection-contents {
  display: flex;
  flex-direction: row;
}
.insights-and-release-info {
  width: 30%;
  margin: 10px;
}
/* collection insight component style */
.collection-insights {
  border: #009879 dotted;
  padding: 6px;
  margin: 10px 0px;
}
.releases-and-tags {
  border: #009879 dotted;
  padding: 6px;
  margin: 10px 0px;
}
.tables {
  /* width: 70%; */
  flex-grow: 1;
  margin: 10px;
}
/* ac issues component styles */
.ac-issues {
  border: #009879 dotted;
  padding: 6px;
  margin: 10px 0px;
}

/* issue table style */
.issue-table {
  border-collapse: collapse;
  margin: 6px 0;
  font-size: 0.9em;
  min-width: 500px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.issue-table a {
  text-decoration: none;
  color: #009879;
}
.issue-table thead th {
  background-color: #009879;
  color: #eee;
  text-align: left;
}
.issue-table th,
.issue-table td {
  padding: 12px 32px;
}
.issue-table tbody tr {
  border-bottom: 1px solid #dddddd;
}
.issue-table tbody tr:hover {
  border-bottom: 1px solid #009879;
  border-left: 1px solid #009879;
  border-right: 1px solid #009879;
}
.issue-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}
.issue-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

/* ac pull request component styles */
.ac-pull-requests {
  border: #009879 dotted;
  padding: 6px;
  margin: 10px 0px;
}

/* pr table style */
.pr-table {
  border-collapse: collapse;
  margin: 6px 0;
  font-size: 0.9em;
  min-width: 500px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.pr-table a {
  text-decoration: none;
  color: #009879;
}
.pr-table thead th {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}
.pr-table th,
.pr-table td {
  padding: 12px 32px;
}
.pr-table tbody tr {
  border-bottom: 1px solid #dddddd;
}
.pr-table tbody tr:hover {
  border-bottom: 1px solid #009879;
  border-left: 1px solid #009879;
  border-right: 1px solid #009879;
}
.pr-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}
.pr-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

/* releases component style */
/* .releases {
  border: #009879 dotted;
  padding: 6px;
  margin: 10px 0px;
} */

/* .information,
.release-info,
.tags-info {
  width: 50%;
  display: inline-block;
} */
