@import "~antd/dist/antd.css";
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

/* Color theme of the app */
:root {
  --primary-color: #3d5861;
  /* --primary-color: #454b61; */
  --primary-color-light: #6f909d;
  /* --primary-color-light: #6a6f81; */
  --secondary-color: #ffa630;
  --side-nav-background: #eee;
  --footer-background: #222;
}

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
}
h1,
h2,
h3,
h4,
p,
label,
span,
div,
svg {
  background: transparent;
  background-color: transparent;
}

.page-header {
  border-bottom: 1px solid rgb(235, 237, 240);
}

.ant-card-body {
  padding: 10px;
}
.ant-statistic {
  text-align: center;
}

.ant-btn {
  color: var(--side-nav-background);
  background-color: var(--primary-color);
  border: none;
}

/* ************************************************************************************** */
/* header styles */
/* ************************************************************************************** */

.navbar {
  background-color: var(--primary-color);
  margin: 0 auto;
  max-width: 100%;
  padding: 6px;
}

.main-layout .ant-layout-header {
  padding: 0;
  height: auto;
  line-height: 1.6;
}

.ant-layout-header {
  left: 0;
  right: 0;
  z-index: 999;
  position: fixed;
  border-bottom: solid 4px var(--side-nav-background);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .logo {
  display: flex;
  flex-direction: row;
}

.header .logo h2 {
  color: var(--side-nav-background);
}

.header .ant-anchor-wrapper {
  background: none;
}

.header .ant-anchor {
  display: flex;
}

.header .ant-anchor-ink {
  display: none;
}

.header .ant-anchor-link {
  padding: 0 10px;
  line-height: 1.4;
  position: relative;
}

.header .ant-anchor-link-title {
  font-size: 1.2em;
  color: var(--side-nav-background);
}
.header .ant-anchor-link-title:hover {
  color: var(--secondary-color);
}

.header .ant-anchor-link:after {
  left: auto;
  right: 30%;
}

.header .ant-anchor-link.ant-anchor-link-active:before,
.header .ant-anchor-link:hover:before {
  left: 5%;
  opacity: 1;
}

.header .ant-anchor-link.ant-anchor-link-active:after,
.header .ant-anchor-link:hover:after {
  right: 5%;
  opacity: 1;
}

/* ************************************************************************************** */
/* content styles */
/* ************************************************************************************** */

.main-layout .ant-layout-content {
  /* margin is to solve the overlapping from of header when used with "position: fixed" attribute */
  margin-top: 64px;
  padding: 6px;
  min-height: 900px;
}

/* ************************************************************************************** */
/* Collection styles */
/* ************************************************************************************** */

/* .collections {
  padding: 10px;
} */

.collection-contents {
  display: flex;
  flex-direction: row;
}
.collection-insights {
  /* border: #009879 dotted; */
  /* padding: 6px; */
  margin: 10px 0px;
  background-color: var(--side-nav-background);
  border-top: var(--secondary-color) solid 4px;
  min-height: 431px;
}
.insights-and-release-info {
  width: 25%;
  margin: 0px 6px;
}
.information-inner {
  display: flex;
  /* background: #009879; */
  flex-direction: row;
}
.information-numericals {
  margin: 6px;
  width: 60%;
}
.information-percentage {
  text-align: center;
  margin: 6px;
  width: 100%;
}

.repository-dropdown {
  border-top: var(--secondary-color) solid 4px;
  background-color: var(--side-nav-background);
  /* background-color: #dbaca9; */
}
.repository-dropdown label {
  font-weight: bold;
}

.repository-dropdown select {
  font-size: 0.8em;
  font-weight: bold;
}
/* collection insight component style */

.releases-and-tags {
  /* border: #009879 dotted; */
  /* padding: 6px; */
  margin: 10px 0px;
  background-color: var(--side-nav-background);
  border-top: var(--secondary-color) solid 4px;
  min-height: 279px;
}

.tables {
  width: 100%;
  text-align: center;
  margin: 0px 6px;
  /* border: #009879; */
  /* flex-grow: 1; */
  /* margin: 10px; */
  /* background-color: var(--side-nav-background); */
}
.tables h1 {
  color: var(--primary-color);
}
/* ac issues component styles */
.ac-issues {
  text-align: center;
  margin: 10px 0px;
}

/* ac pull request component styles */
.ac-pull-requests {
  text-align: center;
  margin: 10px 0px;
}

/* table styles */
.table-data {
  border-collapse: collapse;
  margin: 10px 0;
  margin-left: auto;
  margin-right: auto;
  /* min-width: 500px; */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.table-data a {
  text-decoration: none;
  color: var(--primary-color);
}
.table-data thead th {
  background-color: var(--primary-color-light);
  color: var(--side-nav-background);
  text-align: left;
  /* font-size: 1.2em; */
}
.table-data th,
.table-data td {
  padding: 10px 14px;
  text-align: left;
}
.table-data tbody tr {
  border-bottom: 1px solid #dddddd;
}
.table-data tbody tr:hover {
  border-bottom: 1px solid var(--primary-color-light);
  border-left: 1px solid var(--primary-color-light);
  border-right: 1px solid var(--primary-color-light);
}
.table-data tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}
.table-data tbody tr:last-of-type {
  border-bottom: 2px solid var(--primary-color-light);
}

/* ************************************************************************************** */
/* Developers styles */
/* ************************************************************************************** */

/* .developers {
  padding: 10px;
} */

.developers-content {
  display: flex;
  flex-direction: row;
}

.dev-list {
  /* border: #009879 dotted; */
  background-color: var(--side-nav-background);
  border-top: var(--secondary-color) solid 4px;
  width: 25%;
  margin: 0px 6px;
}
.dev-details {
  /* border: #009879 dotted; */
  /* flex-grow: 1; */
  width: 100%;
  margin: 0px 6px;
  text-align: center;
}

.developer-list h2 {
  padding-bottom: 6px;
  /* background-color: #F5BB00; */
  /* padding-right: 250px; */
  /* margin: 10px 0px; */
}
.developer-list input {
  margin: 6px 0px;
  width: auto;
  /* margin: 10px 0px; */
}
.developer-list p {
  margin: 6px 0px;
  width: auto;
  font-size: 1.2em;
  font-weight: 500;
  text-decoration: none;
  list-style: none;
  cursor: pointer;
  /* margin: 10px 0px; */
}
.developer-list p:hover {
  color: var(--primary-color-light);
  transform: scale(1.02);
}

.overall-info {
  /* padding: 6px; */
  margin: 10px 0px;
  /* border: #009879 dotted; */
  text-align: center;
  min-height: 475px;
}
.profile-info {
  text-align: center;
  justify-content: center;
  justify-items: center;
}
.profile-info img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  border: var(--primary-color) solid 1px;
  background-position: "center";
  background-size: auto 80px;
}
.profile-info h1 {
  margin: auto;
}
.profile-info a {
  text-decoration: none;
  color: var(--primary-color);
}
.profile-info p {
  color: var(--primary-color);
}

.collection-contributions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.total-contributions {
  /* border: #009879 dotted; */
  margin: 6px;
  padding: 6px;
  width: 200px;
  height: 140px;
  background: var(--primary-color-light);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}
.collection-contributions h2 {
  background: transparent;
}
.collection-contributions h1 {
  background: transparent;
  font-size: 3em;
  color: var(--primary-color);
}
.total-contributions h2 {
  color: var(--side-nav-background);
}
.total-contributions h1 {
  color: var(--side-nav-background);
}
.contribution-splits {
  /* border: #009879 dotted; */
  width: 200px;
  height: 140px;
  /* background-color: rgb(207, 228, 215); */
  border-top: var(--primary-color) solid 2px;
  margin: 6px;
  padding: 6px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}
.splitup-info {
  padding: 6px;
  margin: 10px 0px;
  /* border: #009879 dotted; */
  text-align: center;
}
.repository-wise-details {
  padding: 6px;
  margin: 10px 0px;
  /* border: #009879 dotted; */
  text-align: center;
}
.repository-wise-details-inner {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  /* border: #009879 dotted; */
}
.repository-wise-issue-pr-data {
  border: var(--primary-color-light) solid 1px;
  background-color: var(--side-nav-background);
  margin: 10px;
  padding-bottom: 10px;
  width: 300px;
  transition: 300ms;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.repository-wise-issue-pr-data:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.repository-wise-issue-pr-data h2 {
  background: var(--primary-color-light);
  color: var(--side-nav-background);
  padding: 6px;
}

/* ************************************************************************************** */
/* Analytics styles */
/* ************************************************************************************** */

.analytics {
  /* padding: 10px; */
  display: flex;
  flex-direction: row;
}

/* .developers-content {
  
} */

.repo-list {
  background-color: var(--side-nav-background);
  border-top: var(--secondary-color) solid 4px;
  width: 25%;
  margin: 0px 6px;
}
.repo-analytics {
  /* border: #009879 dotted; */
  /* flex-grow: 1; */
  width: 100%;
  margin: 0px 6px;
  text-align: center;
}

.repo-analytics h1 {
  color: var(--primary-color);
}

.repository-list h2 {
  padding-bottom: 6px;
  /* background-color: #F5BB00; */
  /* padding-right: 250px; */
  /* margin: 10px 0px; */
}
.repository-list input {
  margin: 6px 0px;
  width: auto;
  /* margin: 10px 0px; */
}
.repository-list p {
  margin: 6px 0px;
  width: auto;
  font-size: 1.2em;
  font-weight: 500;
  text-decoration: none;
  list-style: none;
  cursor: pointer;
  /* margin: 10px 0px; */
}
.repository-list p:hover {
  color: var(--primary-color-light);
  transform: scale(1.02);
}

.overall-graphs {
  justify-content: flex-start;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* Chart Stylings */
.ant-col,
.ant-row {
  margin: 0px;
}
/* Line Chart */
.chart-line {
  /* background-color: var(--side-nav-background); */
  padding: 6px;
  margin: 6px;
  justify-content: center;
  text-align: center;
  justify-items: center;
  /* width: 100%;
  height: 100%; */
}
/* Doughnut Chart */
.chart-doughnut {
  background-color: var(--side-nav-background);
  padding: 6px;
  margin: 6px;
  justify-content: center;
  text-align: center;
  justify-items: center;
  /* width: 100%; */
  /* height: 100%; */
}
/* Divs for averages */
.issue-close-average,
.pr-merge-average {
  background-color: var(--side-nav-background);
  padding: 6px;
  margin: 6px;
  /* width: 100%;
  height: 100%; */
}
.issue-close-average h2,
.pr-merge-average h2 {
  font-size: 6em;
  color: var(--primary-color);
}
/* Bar Chart */
.chart-bar {
  background-color: var(--side-nav-background);
  padding: 6px;
  margin: 6px;
  justify-content: center;
  text-align: center;
  justify-items: center;
  /* width: 100%; */
  /* height: 100%; */
}
/* ************************************************************************************** */
/* Footer styles */
/* ************************************************************************************** */

.page-footer {
  margin: 0 auto;
  max-width: 100%;
  padding: 6px;
}

.ant-layout-footer {
  background: var(--footer-background);
  color: var(--side-nav-background);
  padding-top: 60px;
  padding-bottom: 15px;
  text-align: center;
}

.ant-layout-footer .logo p {
  margin-bottom: 0px;
}

.copyright {
  font-size: 0.6em;
  color: var(--side-nav-background);
}

.social {
  margin-top: 20px;
  align-items: center;
  justify-content: center;
  padding: 0;
  font-size: 24px;
}
.social .anticon svg {
  color: var(--side-nav-background);
}

.social .anticon svg:hover {
  color: var(--secondary-color);
}

/* ************************************************************************************** */
/* non-mobile view */
/* ************************************************************************************** */

.mobile-visible {
  display: none;
}

.mobile-hidden {
  display: block;
}

.analytic-graphs-mobile {
  display: none;
}

/* ************************************************************************************** */
/* responsive */
/* ************************************************************************************** */

@media only screen and (max-width: 992px) {
  .pricingBlock .ant-row > div:nth-child(2) .ant-list-item {
    transform: scale(1);
  }

  .main-layout .ant-layout-content {
    /* margin is to solve the overlapping from of header when used with "position: fixed" attribute */
    margin-top: 64px;
    padding: 6px;
  }

  .collection-contents {
    display: flex;
    flex-direction: column;
  }
  .insights-and-release-info {
    width: 100%;
    margin: 0px 6px;
  }

  .developers-content {
    flex-direction: column;
  }

  .dev-list {
    display: none;
  }

  .dev-list-mobile {
    background-color: var(--primary-color);
    color: var(--side-nav-background);
  }
  .dev-list-mobile h2 {
    color: var(--side-nav-background);
  }
  .dev-list-mobile p:hover {
    color: var(--secondary-color);
  }

  .analytics {
    flex-direction: column;
  }

  .repo-list {
    display: none;
  }

  .repo-list-mobile {
    color: var(--side-nav-background);
  }
  .repo-list-mobile h2 {
    color: var(--side-nav-background);
  }
  .repo-list-mobile p:hover {
    color: var(--secondary-color);
  }

  .analytic-graphs {
    display: none;
  }

  .analytic-graphs-mobile {
    display: block;
  }

  .mobile-visible {
    display: block;
  }

  .mobile-hidden {
    display: none;
  }
}
