@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
  background-color: #eee;
}
h1,
h2,
h3,
h4,
p,
label,
div {
  background: transparent;
}

p {
  background-color: transparent;
}

/* navbar styles */
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 100%;
  margin: 0 auto;
  background-color: #009879;
}
.navbar img {
  background: transparent;
}
.navbar h1 {
  color: #eee;
  background: transparent;
  font-size: 2em;
}
.navbar .links {
  margin-left: auto;
  background: transparent;
  color: #009879;
}
.navbar a {
  text-decoration: none;
  font-size: 1.2em;
  font-weight: 600;
  padding: 0px 16px;
  background-color: transparent;
  color: #eee;
}
.navbar a:hover {
  color: #cc9c00;
}

/* Collection styles */
.collections {
  padding: 10px;
}

.collection-contents {
  display: flex;
  flex-direction: row;
}

.insights-and-release-info {
  width: 20%;
  margin: 10px;
}
.information-inner {
  display: flex;
  /* background: #009879; */
  flex-direction: row;
}
.information-numericals {
  margin: 6px;
  width: 40%;
}
.information-percentage {
  margin: 6px;
  width: 50%;
  height: 50%;
  border: #009879 dotted;
  text-align: center;
}
.information-percentage h3 {
  font-size: 2.5em;
}

.repository-dropdown {
  padding: 6px 0px 10px 0px;
  border: #009879 dotted;
  text-align: center;
  margin: 10px 0px 50px 0px;
  font-size: 1.5em;
  margin-bottom: 50px;
}
.repository-dropdown label {
  font-weight: bold;
}

.repository-dropdown select {
  font-size: 0.8em;
  font-weight: bold;
}
/* collection insight component style */
.collection-insights {
  border: #009879 dotted;
  padding: 6px;
  margin: 10px 0px;
}
.releases-and-tags {
  border: #009879 dotted;
  padding: 6px;
  margin: 10px 0px;
}

.tables {
  width: 80%;
  /* flex-grow: 1; */
  margin: 10px;
}
/* ac issues component styles */
.ac-issues {
  border: #009879 dotted;
  padding: 6px;
  margin: 10px 0px;
}

/* issue table style */
.issue-table {
  border-collapse: collapse;
  margin: 6px 0;
  font-size: 0.9em;
  min-width: 500px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.issue-table a {
  text-decoration: none;
  color: #009879;
}
.issue-table thead th {
  background-color: #009879;
  color: #eee;
  text-align: left;
}
.issue-table th,
.issue-table td {
  padding: 12px 32px;
}
.issue-table tbody tr {
  border-bottom: 1px solid #dddddd;
}
.issue-table tbody tr:hover {
  border-bottom: 1px solid #009879;
  border-left: 1px solid #009879;
  border-right: 1px solid #009879;
}
.issue-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}
.issue-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

/* ac pull request component styles */
.ac-pull-requests {
  border: #009879 dotted;
  padding: 6px;
  margin: 10px 0px;
}

/* pr table style */
.pr-table {
  border-collapse: collapse;
  margin: 6px 0;
  font-size: 0.9em;
  min-width: 500px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.pr-table a {
  text-decoration: none;
  color: #009879;
}
.pr-table thead th {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}
.pr-table th,
.pr-table td {
  padding: 12px 32px;
}
.pr-table tbody tr {
  border-bottom: 1px solid #dddddd;
}
.pr-table tbody tr:hover {
  border-bottom: 1px solid #009879;
  border-left: 1px solid #009879;
  border-right: 1px solid #009879;
}
.pr-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}
.pr-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

/* developer component styles */
.developers {
  padding: 10px;
}

.developers-content {
  display: flex;
  flex-direction: row;
}

.dev-list {
  border: #009879 dotted;
  width: 20%;
  margin: 10px;
}
.dev-details {
  border: #009879 dotted;
  /* flex-grow: 1; */
  width: 100%;
  margin: 10px;
  text-align: center;
}

.developer-list {
  padding: 6px;
  /* margin: 10px 0px; */
  /* width: 80%; */
}

.developer-list h2 {
  padding-bottom: 6px;
  /* background-color: #F5BB00; */
  /* padding-right: 250px; */
  /* margin: 10px 0px; */
}
.developer-list input {
  margin: 6px 0px;
  width: auto;
  /* margin: 10px 0px; */
}
.developer-list p {
  margin: 6px 0px;
  width: auto;
  font-size: 1.2em;
  font-weight: 500;
  text-decoration: none;
  list-style: none;
  cursor: pointer;
  /* margin: 10px 0px; */
}
.developer-list p:hover {
  color: #009879;
  transform: scale(1.02);
}

.developer-details {
  padding: 6px;
  /* margin: 10px 0px; */
}
.overall-info {
  padding: 6px;
  margin: 10px 0px;
  /* border: #009879 dotted; */
  text-align: center;
}
.profile-info img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  border: #009879 solid 1px;
  background-position: "center";
  background-size: auto 80px;
}
.profile-info a {
  text-decoration: none;
  color: #009879;
}
.collection-contributions {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.total-contributions {
  border: #009879 dotted;
  margin: 6px;
  padding: 6px;
  background: #009879;
}
.collection-contributions h2 {
  background: transparent;
}
.collection-contributions h1 {
  background: transparent;
  font-size: 3em;
  color: #009879;
}
.total-contributions h2 {
  color: #eee;
}
.total-contributions h1 {
  color: #eee;
}
.contribution-splits {
  border: #009879 dotted;
  margin: 6px;
  padding: 6px;
}
.splitup-info {
  padding: 6px;
  margin: 10px 0px;
  border: #009879 dotted;
  text-align: center;
}
.repository-wise-details {
  padding: 6px;
  margin: 10px 0px;
  /* border: #009879 dotted; */
  text-align: center;
}
.repository-wise-details-inner {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  /* border: #009879 dotted; */
}
.repository-wise-issue-pr-data {
  border: #009879 solid 1px;
  background-color: #eee;
  margin: 10px;
  padding-bottom: 10px;
  width: 300px;
  transition: 300ms;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.repository-wise-issue-pr-data:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.repository-wise-issue-pr-data h2 {
  background: #009879;
  color: #eee;
  padding: 6px;
}

.chart {
  width: 700px;
  height: 700px;
}

/* Styling for Analytics Component */
.analytics {
  padding: 10px;
  display: flex;
  flex-direction: row;
}

/* .developers-content {
  
} */

.repo-list {
  border: #009879 dotted;
  width: 20%;
  margin: 10px;
}
.repo-analytics {
  border: #009879 dotted;
  /* flex-grow: 1; */
  width: 100%;
  margin: 10px;
  text-align: center;
}

.repo-list {
  padding: 6px;
  /* margin: 10px 0px; */
  /* width: 80%; */
}

.repo-list h2 {
  padding-bottom: 6px;
  /* background-color: #F5BB00; */
  /* padding-right: 250px; */
  /* margin: 10px 0px; */
}
.repo-list input {
  margin: 6px 0px;
  width: auto;
  /* margin: 10px 0px; */
}
.repo-list p {
  margin: 6px 0px;
  width: auto;
  font-size: 1.2em;
  font-weight: 500;
  text-decoration: none;
  list-style: none;
  cursor: pointer;
  /* margin: 10px 0px; */
}
.repo-list p:hover {
  color: #009879;
  transform: scale(1.02);
}

.repo-analytics {
  padding: 6px;
  /* margin: 10px 0px; */
}
